#graph {
    position: absolute;
    top: 50px;
}

path {
    stroke: $salesBlue;
    stroke-width: 2;
    fill: none;
    &.prediction {
        stroke: $lineGraphPredictionGrey;
        stroke-dasharray: 3;
    }
}