.salesWrapper {
    width: 727px;
    height: 33px;
    margin: 0;
    padding: 0;
    background-color: $salesGrey;
    position: absolute;
    top: 165px;

    .sales, .target {
        display: inline-block;
        position: relative;
        height: 100%;
        .value {
            position: absolute;
            font-size: 17px;
            right: 15px;
            top: 8px;
        }
        .text {
            text-transform: uppercase;
            font-size: 10px;
            font-weight: bold;
            position: absolute;
            left: 13px;
            top: 11px;
            letter-spacing: -0.2px;
        }
    }

    .sales {
        background-color: $salesBlue;
        color: $salesBlueText;
    }

    .target {
        color: $salesBlue;
    }
}